[Unit]
Description=SSH pubkey authorization agent
#After=sshd.service
#Wants=sshd-keygen.service

[Service]
#EnvironmentFile=/etc/sysconfig/sshd
ExecStart=/usr/bin/auth-agent
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=1s

#[Install]
#WantedBy=multi-user.target